@font-face {
   font-family: 'Raleway';
   src: url(../fonts/Raleway/Raleway-VariableFont_wght.ttf);
}
@font-face {
   font-family: 'Open Sans';
   src: url(../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}
body, html{
   width: 100%;
}
.wrapper{
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.subtitle{
   font-family:'Open Sans';
   font-size: 24px;
   font-weight: 700;
   color: #000000;
}
.heading{
   font-family: 'Raleway';
   font-size: 36px;
   font-weight: 400;
   color: black;
   height: 150px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.text{
   font-family: 'Raleway';
   font-size: 18px;
   font-weight: 400;
   color: #000000;
}
.separator{
   width: 170px;
   border-bottom: 1px solid #EC7979;
   height: 1px;
   margin-bottom: 40px;
}
.desc{
   font-family: 'Raleway';
   font-size: 18px;
   font-weight: 400;
   color: #86878B;
}
.button{
   width: 270px;
   height: 58px;
   font-family:'Open Sans';
   font-size: 18px;
   font-weight: 600;
   color: #FFFFFF;
   text-align: center;
   cursor: pointer;
   border: none;
}
.tabs{
   max-width: 1170px;
}
.tabs__tab{
   padding-top: 99px;
   display: flex;
   font-family:'Open Sans';
   font-size: 14px;
   font-weight: 400;
   color: #333333;
   text-align: center;
}
.tabs__tab-border{
   width: 203px;
   padding: 10px 0px;
   border: 1px solid #C6CBCD;
   border-bottom: none;
   border-radius: 5px 5px 0px 0px;
}
.tabs__tab-desing{
   padding: 10px 0;
   border-bottom: 1px solid #C6CBCD;
   width: 184px;
}
.tabs__border{
   width: 600px;
   border-bottom: 1px solid #C6CBCD;
}
.tabs__content{
   display: flex;
   justify-content: center;
   border: 1px solid #C6CBCD;
   border-top: none;
}
.subtitle-tabs{
   max-width: 570px;
   font-size: 30px;
   display: flex;
   justify-content: flex-start;
   padding-top: 47px;
   padding-bottom: 74px;  
}
.tabs__content-text{
   padding-left: 100px;
   padding-right: 30px;
}
.tabs__content-text-desing{
   padding-top: 18px;
   padding-bottom: 27px; 
}
.tabs__content-img{
   font-size: 0px;
}
.button-tabs{
   background-color: #EC7979;
}
.button-tabs:hover{
   background-color: #AB4949;
}
.button-tabs:active{
   background: #EC7979;
   box-shadow: inset 0px 0px 10px #AB4949;
}
.advantage{
   max-width: 1170px;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.grid{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   padding-top: 71px;
   padding-bottom: 58px;

}
.grid__col{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
   width: 370px;
}
.grid__subtitle{
   height: 100px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.grid__col-middle{
   margin: 0 30px;
}
.grid__text{
   text-align: center;
   padding-top: 8px;
}
.pricing{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: #F5F5F5;
   width: 100%;
}
.pricing__options{
   display: flex;
   justify-content: center;
   text-align: center;
   padding-top: 79px;
   padding-bottom: 50px;
   flex-wrap: wrap;
}
.pricing__option{
   margin:0px 15px;
   display: flex;
   flex-direction: column;
   align-self: auto;
}
.pricing__option-subtitle{
   color: #ffffff;
   background-color: #333333;
   width: 370px;
   height: 60px;
   border-bottom: 2px solid #F5F5F5;
   display: flex;
   justify-content: center;
   align-items: center;
}
.pricing__option-price{
   font-family: 'Raleway';
   font-weight: 700;
   font-size: 36px;
   color: #FFFFFF;
   background-color: #333333;
   width: 370px;
   height: 100px;
   border-bottom: 2px solid #F5F5F5;
   display: flex;
   justify-content: center;
   align-items: center;
}
.pricing__option-time{
   color: rgba(255, 255, 255, 0.5);
   background-color: #333333;
   width: 370px;
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.pricing__option-condition{
   color: #86878B;
   background-color: #ffffff;
   border-bottom: 2px solid #F5F5F5;
   width: 370px;
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.option-optima{
   margin-top: -20px;
}