@font-face {
   font-family: 'Raleway';
   src: url(../fonts/Raleway/Raleway-VariableFont_wght.ttf);
}
@font-face {
   font-family: 'Open Sans';
   src: url(../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.section-advantage{
   padding-bottom: 58px;
   padding-top: 50px;
}
.container{
   max-width: 1170px;
   margin: auto;
}
.subtitle{
   font-family: 'Raleway';
   font-size: 36px;
   font-weight: 400;
   color: black;
   text-align: center;
   height: 150px;
   box-sizing: border-box;
   padding-top: 54px;
   padding-bottom: 54px;
}
.separator{
   margin: auto;
   width: 170px;
   border-bottom: 1px solid #EC7979;
   height: 1px;
}
.desc{
   font-family: 'Raleway';
   font-size: 18px;
   font-weight: 400;
   color: #86878B;
   text-align: center;
   /* height: 21px; */
   margin-top: 40px;
   margin-bottom: 110px;
}
.grid{
   display: flex;
   justify-content: center;
}
.grid__col{
   text-align: center;
   max-width: 369px;

}
.grid__col-icon{
   border-radius: 50%;
   border:1px solid #EC7979;
   width: 92px;
   height: 92px;
   margin: auto;
   display:flex;
}
.grid__col-icon-display{
   display: block;
   margin: auto;
}
.heading{
   font-family:'Open Sans';
   font-size: 24px;
   font-weight: 700;
   color: #000000;
   text-align: center;
   max-height: 100px;
   margin-top: 39px;
   margin-bottom: 8px;
   box-sizing: border-box;
   padding: 38px;
}
.text{
   font-family: 'Raleway';
   font-size: 18px;
   font-weight: 400;
   color: #000000;
}
.grid__col-middle{
   margin-left: 30px;
   margin-right: 30px;
}
.section-tabs__tab{
   padding-top: 99px;
   display: flex;
   font-family:'Open Sans';
   font-size: 14px;
   font-weight: 400;
   color: #333333;
   text-align: center;
}
.section-tabs__tab-border{
   width: 203px;
   padding: 10px 0px;
   border: 1px solid #C6CBCD;
   border-bottom: none;
   border-radius: 5px 5px 0px 0px;
}
.section-tabs__tab-desing{
   padding: 10px 0;
   border-bottom: 1px solid #C6CBCD;
   width: 184px;
}
.section-tabs__border{
   width: 600px;
   border-bottom: 1px solid #C6CBCD;
}
.section-tabs__content{
   display: flex;
   justify-content: center;
   border: 1px solid #C6CBCD;
   border-top: 1px solid #ffffff;
}
.heding-tabs{
   text-align: left;
   padding: 0;
   margin-top: 47px;
   margin-bottom: 47px;
   font-size: 30px;
}
.section-tabs__content-text{
   padding-left: 100px;
   padding-right: 30px;
}
.section-tabs__content-text-desing{
   padding-top: 18px;
   padding-bottom: 27px; 
}
.section-tabs__content-img{
   font-size: 0px;
}
.button{
   width: 270px;
   height: 58px;
   font-family:'Open Sans';
   font-size: 18px;
   font-weight: 600;
   color: #FFFFFF;
   text-align: center;
   cursor: pointer;
   border: none;
   border: none;
}
.button-tabs{
   background-color: #EC7979;
}